body{
    /* background-color: blueviolet; */
    height: 100vh;
}
.login{
    display:flex;
}
.W{
    display:flex;
    flex-direction:column;
}
.L1{
    display:flex;
}
.email input{
padding-top:15px;
padding-bottom:15px;
padding-left:130px;
padding-right:130px;
margin-bottom:35px;

}

.pass input{
    padding-top:15px;
padding-bottom:15px;
padding-left:130px;
padding-right:130px;
margin-bottom:35px;
}

.btn button{
    padding:15px 60px;
    color:white;
    font-weight:bold;
    font-size:larger;
    background-color:purple;
    border-radius:30px;
    margin-left:20px;
    border:none;
}
.grey{
    color:grey;
    margin-bottom:55px;
}
.L2 p{
    margin-right:5px;
   
}
.L3{

    position:relative;
    top:1px;
}
.L1{
    margin-left:270px;
    margin-bottom:30px;
}

.email i{
    z-index:1;
    position:relative;
    left:20px;
}
.pass i{
    z-index:1;
    position:relative;
    left:20px;

}
.food1 {
    margin-left:400px;
    color:#563f46;
}
.Login{
    margin-left:150px;
    /* background-color: blue; */
}

.imgo img{
    max-width: 100%;
    height:auto;
    display: block;
    margin: auto;
}
.name h1{
    display: none;
}
@media(max-width:768px){
    .login{
        display: flex;
        flex-direction: column;
    }
    .Login{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding: 20%;
        margin-left: 0px;
    }
    .imgo img{
      display: none;
      
    }
    h3{
        display: none;
    }
    .detail input,.detail button{

            font-size:15px;
    }
    .detail button{
        margin-left: 50px;
    }
   
}